<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Alien Invasion</title>
  <link rel="stylesheet" href="base.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
  <script src="virtualjoystick.js"></script> 
  
  <script>

  function log(msg) {
    console.log(msg);
    //alert(msg);
  }

  function gotStartMatch(params) {
    isOngoing = true;
    var yourPlayerIndex = params.yourPlayerIndex;
    var playersInfo = params.playersInfo;
    var numberOfPlayers = playersInfo.length;
    realTimeSimpleService.sendReliableMessage('Reliable');
    realTimeSimpleService.sendUnreliableMessage('Unreliable');
    startMatchTime = new Date().getTime();
    Game.initialize("game",sprites,startGame);

    // realTimeSimpleService.endMatch(scores);
  }

  function gotMessage(params) {
    var fromPlayerIndex = params.fromPlayerIndex;
    var message = params.message;
    log("msg=" + message + " from " + fromPlayerIndex);
  }

  function gotEndMatch(endMatchScores) {
    log("gotEndMatch:" + endMatchScores);
    
  }

  function setRealTimeSimpleService(realTimeSimpleService, randomService) {
    window.realTimeSimpleService = realTimeSimpleService;
    window.randomService = randomService;
    realTimeSimpleService.init({
      gotStartMatch: gotStartMatch,
      gotMessage: gotMessage,
      gotEndMatch: gotEndMatch
    });
  }

  </script>

  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script>
  angular.module('myApp', [])
    .run(function (realTimeSimpleService, resizeGameAreaService, randomService) {
    resizeGameAreaService.setWidthToHeight(0.667);
    window.setRealTimeSimpleService(realTimeSimpleService, randomService);
  });
  </script>
  <script>window.angularTranslationLanguages = ['en', 'zh'];</script>
  <!-- build:js http://yoav-zibin.github.io/emulator/dist/realTimeServices.2.min.js -->
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/realTimeSimpleServices.2.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/angular-translate/angular-translate.min.js"></script>
  <!-- /build -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.11/seedrandom.min.js'></script>

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:css http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
  <!-- /build -->
  <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.js"></script>
  <!-- /build -->
  <!-- build:js http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js -->
  <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <!-- /build -->


</head>

<body ng-cloak ng-app="myApp">

  <div style="position:absolute; bottom:5px; left: 5px">
  <span ng-click="isHelpModalShown = true"
      class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </div>

  <div class="overlayModal" ng-show="isHelpModalShown" aria-hidden="true">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            {{ 'RULES_OF_RAIDEN' | translate }}
          </h4>

        </div>
        <div class="modal-body">
          <carousel style="height: 150px">
            <slide>
              <table>
                <tr>
                  <td>
                    {{ 'RULES_SLIDE1' | translate }}
                  </td>
                  <td>
                    <img src="images/2.jpg" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
            <slide>
              <table>
                <tr>
                  <td>
                  {{ 'RULES_SLIDE2' | translate }}
                  </td>
                  <td>
                    <img src="images/3.jpg" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="isHelpModalShown = false">
            {{ 'CLOSE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>


  <div id='gameArea'>
    <canvas id='game' width='320' height='480'></canvas>
  </div>
  <script src='fpsmeter.min.js'></script>
  <script src='engine.js'></script>
  <script src='game.js'></script>
  <script>
    var joystick = new VirtualJoystick({
    mouseSupport  : true,
    limitStickTravel: true,
    stickRadius : 10
  });
  </script>
</body>
</html>


